.foot {
    background-image: url(https://files.oaiusercontent.com/file-Y65kEnokYhliOyanC2lD0U1T?se=2024-09-19T17%3A13%3A49Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D8e2871f2-bc6a-44cd-8404-ac6f91386685.webp&sig=aN1ibWtGYmDbfFtHUSTlyJ1kapbaUa8GLqXNEKzKs7M%3D);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1px;
    background-color: rgb(0, 0, 0) transparent;
}